:root {
  --color-components-alert-error-background: rgba(193, 0, 7, 0.3);
  --color-components-alert-error-color: #ffffff;
  --color-components-alert-info-background: rgba(2, 119, 189, 0.3);
  --color-components-alert-info-color: #ffffff;
  --color-components-alert-success-background: rgba(44, 108, 47, 0.3);
  --color-components-alert-success-color: #ffffff;
  --color-components-alert-warning-background: rgba(132, 111, 38, 0.3);
  --color-components-alert-warning-color: #ffffff;
  --color-components-app-bar-default-fill: #272727;
  --color-components-avatar-fill: #bdbdbd;
  --color-components-backdrop-fill: rgba(0, 0, 0, 0.54);
  --color-components-breadcrumbs-collapse-fill: #717171;
  --color-components-chip-default-close-fill: #ffffff;
  --color-components-chip-default-enabled-border: #5f5f5f;
  --color-components-chip-default-focus-fill: rgba(255, 255, 255, 0.26);
  --color-components-chip-default-hover-fill: rgba(255, 255, 255, 0.12);
  --color-components-input-outlined-enabled-border: #717171;
  --color-components-input-outlined-hover-border: #a5a5a5;
  --color-components-paper-elevation-0: #121212; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-1: #1e1e1e; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-10: #313131; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-11: #313131; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-12: #333333; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-13: #333333; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-14: #333333; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-15: #333333; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-16: #363636; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-17: #363636; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-18: #363636; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-19: #363636; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-2: #232323; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-20: #383838; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-21: #383838; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-22: #383838; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-23: #383838; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-24: #383838; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-3: #252525; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-4: #272727; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-5: #2a2a2a; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-6: #2c2c2c; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-7: #2c2c2c; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-8: #2e2e2e; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-elevation-9: #2e2e2e; /* Reflects the background.paper variable from the theme object */
  --color-components-paper-outline-border: rgba(255, 255, 255, 0.12);
  --color-components-rating-active-fill: #ffb300;
  --color-components-rating-enabled-border: rgba(255, 255, 255, 0.26);
  --color-components-snackbar-fill: #4c4c4c;
  --color-components-stepper-connector: #717171;
  --color-components-switch-knob-fill-enabled: #bdbdbd;
  --color-components-switch-know-fill-disabled: #717171;
  --color-components-switch-slide-fill: rgba(255, 255, 255, 0.38);
  --color-components-table-border: #515151;
  --color-components-tooltip-fill: rgba(0, 0, 0, 0.87);
  --color-native-scrollbar-bg: #5f5f5f;
  --color-action-active: #a5a5a5;
  --color-action-disabled: rgba(255, 255, 255, 0.26); /* Reflects the action.disabled variable from the theme object */
  --color-action-disabled-background: rgba(255, 255, 255, 0.12); /* Reflects the action.disabledBackground variable from the theme object */
  --color-action-focus: rgba(255, 255, 255, 0.12); /* Reflects the action.focus variable from the theme object */
  --color-action-hover: rgba(255, 255, 255, 0.04); /* Reflects the action.hover variable from the theme object */
  --color-action-selected: rgba(255, 255, 255, 0.08); /* Reflects the action.selected variable from the theme object */
  --color-adapted-bg-color-accent-emphasis: #0277bd;
  --color-adapted-bg-color-accent-muted: #e1f5fe;
  --color-adapted-bg-color-attention-emphasis: #846f26;
  --color-adapted-bg-color-attention-muted: #fefaeb;
  --color-adapted-bg-color-black: #383838;
  --color-adapted-bg-color-closed-emphasis: #c10007;
  --color-adapted-bg-color-closed-muted: #ffe2e2;
  --color-adapted-bg-color-danger-emphasis: #c10007;
  --color-adapted-bg-color-danger-muted: #ffe2e2;
  --color-adapted-bg-color-default: #383838;
  --color-adapted-bg-color-disabled: #eeeeee;
  --color-adapted-bg-color-done-emphasis: #2c6c2f;
  --color-adapted-bg-color-done-muted: #d9f5da;
  --color-adapted-bg-color-emphasis: #4c4c4c;
  --color-adapted-bg-color-inset: #eeeeee;
  --color-adapted-bg-color-inverse: #4c4c4c;
  --color-adapted-bg-color-muted: #eeeeee;
  --color-adapted-bg-color-neutral-emphasis: #5f5f5f;
  --color-adapted-bg-color-neutral-muted: rgba(0, 0, 0, 0.12);
  --color-adapted-bg-color-open-emphasis: #2c6c2f;
  --color-adapted-bg-color-open-muted: #d9f5da;
  --color-adapted-bg-color-severe-emphasis: #b05900;
  --color-adapted-bg-color-severe-muted: #fdebd7;
  --color-adapted-bg-color-success-emphasis: #348037;
  --color-adapted-bg-color-success-muted: #d9f5da;
  --color-adapted-bg-color-transparent: rgba(255, 255, 255, 0);
  --color-adapted-bg-color-white: #ffffff;
  --color-adapted-border-color-accent-emphasis: #0277bd;
  --color-adapted-border-color-accent-muted: #e1f5fe;
  --color-adapted-border-color-attention-emphasis: #846f26;
  --color-adapted-border-color-attention-muted: rgba(187, 128, 9, 0.4);
  --color-adapted-border-color-closed-emphasis: #c10007;
  --color-adapted-border-color-closed-muted: rgba(248, 81, 73, 0.4);
  --color-adapted-border-color-danger-emphasis: #c10007;
  --color-adapted-border-color-danger-muted: rgba(248, 81, 73, 0.4);
  --color-adapted-border-color-default: #717171;
  --color-adapted-border-color-disabled: rgba(101, 108, 118, 0.1);
  --color-adapted-border-color-done-emphasis: #615fff;
  --color-adapted-border-color-done-muted: rgba(171, 125, 248, 0.4);
  --color-adapted-border-color-emphasis: #a5a5a5;
  --color-adapted-border-color-muted: rgba(95, 95, 95, 0.7);
  --color-adapted-border-color-open-emphasis: #2c6c2f;
  --color-adapted-border-color-open-muted: rgba(46, 160, 67, 0.4);
  --color-adapted-border-color-severe-emphasis: #b05900;
  --color-adapted-border-color-severe-muted: rgba(219, 109, 40, 0.4);
  --color-adapted-border-color-success-emphasis: #2c6c2f;
  --color-adapted-border-color-success-muted: rgba(46, 160, 67, 0.4);
  --color-adapted-border-color-translucent: rgba(255, 255, 255, 0.15);
  --color-adapted-border-color-transparent: rgba(0, 0, 0, 0);
  --color-adapted-border-color-upsell-emphasis: #8250df;
  --color-adapted-border-color-upsell-muted: rgba(194, 151, 255, 0.4);
  --color-adapted-control-bg-color-active: #383838;
  --color-adapted-control-bg-color-disabled: #eeeeee;
  --color-adapted-control-bg-color-hover: #4c4c4c;
  --color-adapted-control-bg-color-rest: #5f5f5f;
  --color-adapted-control-bg-color-selected: #5f5f5f;
  --color-adapted-control-border-color-danger: #cf222e;
  --color-adapted-control-border-color-disabled: rgba(101, 108, 118, 0.1);
  --color-adapted-control-border-color-emphasis: #a5a5a5;
  --color-adapted-control-border-color-rest: #717171;
  --color-adapted-control-border-color-selected: #5f5f5f;
  --color-adapted-control-border-color-success: #1a7f37;
  --color-adapted-control-border-color-warning: #9a6700;
  --color-adapted-control-checked-bg-color-active: #3685f3;
  --color-adapted-control-checked-bg-color-disabled: #818b98;
  --color-adapted-control-checked-bg-color-hover: #2a7aef;
  --color-adapted-control-checked-bg-color-rest: #0969da;
  --color-adapted-control-checked-border-color-active: #0757ba;
  --color-adapted-control-checked-border-color-disabled: #818b98;
  --color-adapted-control-checked-border-color-hover: #0860ca;
  --color-adapted-control-checked-border-color-rest: #0969da;
  --color-adapted-control-checked-fg-color-disabled: #010409;
  --color-adapted-control-checked-fg-color-rest: #ffffff;
  --color-adapted-control-danger-bg-color-active: rgba(255, 100, 103, 0.4);
  --color-adapted-control-danger-bg-color-hover: #ffe2e2;
  --color-adapted-control-danger-fg-color-hover: #ff6467;
  --color-adapted-control-danger-fg-color-rest: #f85149;
  --color-adapted-control-fg-color-disabled: rgba(101, 108, 118, 0.6);
  --color-adapted-control-fg-color-placeholder: rgba(101, 108, 118, 0.6);
  --color-adapted-control-fg-color-rest: #fafafa;
  --color-adapted-control-icon-color-rest: #a5a5a5;
  --color-adapted-control-transparent-bg-color-active: rgba(101, 108, 118, 0.25);
  --color-adapted-control-transparent-bg-color-disabled: #eeeeee;
  --color-adapted-control-transparent-bg-color-hover: rgba(101, 108, 118, 0.2);
  --color-adapted-control-transparent-bg-color-rest: rgba(0, 0, 0, 0);
  --color-adapted-control-transparent-bg-color-selected: rgba(101, 108, 118, 0.1);
  --color-adapted-control-transparent-border-color-active: rgba(0, 0, 0, 0);
  --color-adapted-control-transparent-border-color-hover: rgba(0, 0, 0, 0);
  --color-adapted-control-transparent-border-color-rest: rgba(0, 0, 0, 0);
  --color-adapted-fg-color-accent: #03a9f4;
  --color-adapted-fg-color-attention: #d29922;
  --color-adapted-fg-color-black: #010409;
  --color-adapted-fg-color-closed: #d1242f;
  --color-adapted-fg-color-danger: #f85149;
  --color-adapted-fg-color-default: #fafafa;
  --color-adapted-fg-color-disabled: rgba(101, 108, 118, 0.6);
  --color-adapted-fg-color-done: #615fff;
  --color-adapted-fg-color-link: #03a9f4;
  --color-adapted-fg-color-muted: #a5a5a5;
  --color-adapted-fg-color-neutral: #8b8b8b;
  --color-adapted-fg-color-on-emphasis: #ffffff;
  --color-adapted-fg-color-on-inverse: #010409;
  --color-adapted-fg-color-open: #1a7f37;
  --color-adapted-fg-color-severe: #db6d28;
  --color-adapted-fg-color-success: #3fb950;
  --color-adapted-fg-color-white: #ffffff;
  --color-adapted-focus-outline-color: #03a9f4;
  --color-background-default: #383838; /* Reflects the background.default variable from the theme object */
  --color-background-paper: #121212;
  --color-common-black-states-focus: rgba(0, 0, 0, 0.12);
  --color-common-black-states-focus-visible: rgba(0, 0, 0, 0.3); /* Used for selected states. The token represents the value of action.selectedOpacity (0.08 by default) of the main token. */
  --color-common-black-states-hover: rgba(0, 0, 0, 0.04); /* Used for hover states. The token represents the value of action.hoverOpacity (0.04 by default) of the main token. */
  --color-common-black-states-main: #000000;
  --color-common-black-states-outlined-border: rgba(0, 0, 0, 0.54); /* Used for enabled states (e.g Button outlined variant). The token represents the value of outlinedBorderOpacity (0.5 by default) of the main token. */
  --color-common-black-states-selected: rgba(0, 0, 0, 0.08); /* Used for selected states. The token represents the value of action.selectedOpacity (0.08 by default) of the main token. */
  --color-common-white-states-focus: rgba(255, 255, 255, 0.12);
  --color-common-white-states-focus-visible: rgba(255, 255, 255, 0.3);
  --color-common-white-states-hover: rgba(255, 255, 255, 0.04); /* Used for hover states. The token represents the value of action.hoverOpacity (0.04 by default) of the main token. */
  --color-common-white-states-main: #ffffff;
  --color-common-white-states-outlined-border: rgba(255, 255, 255, 0.54); /* Used for enabled states (e.g Button outlined variant). The token represents the value of outlinedBorderOpacity (0.5 by default) of the main token. */
  --color-common-white-states-selected: rgba(255, 255, 255, 0.08); /* Used for selected states. The token represents the value of action.selectedOpacity (0.08 by default) of the main token. */
  --color-divider: rgba(255, 255, 255, 0.12); /* Reflects the divider variable from the theme object */
  --color-error-states-focus-visible: rgba(251, 44, 54, 0.3);
  --color-error-states-hover: rgba(251, 44, 54, 0.04); /* Used for hover states. The token represents the value of action.hoverOpacity (0.04 by default) of the main token. */
  --color-error-states-outlined-border: rgba(251, 44, 54, 0.54); /* Used for enabled states (e.g Button outlined variant). The token represents the value of outlinedBorderOpacity (0.5 by default) of the main token. */
  --color-error-states-selected: rgba(251, 44, 54, 0.08); /* Used for selected states. The token represents the value of action.selectedOpacity (0.08 by default) of the main token. */
  --color-error-contrast-text: #ffffff;
  --color-error-dark: #c10007;
  --color-error-light: #ffe2e2;
  --color-error-main: #fb2c36;
  --color-info-states-focus-visible: rgba(3, 169, 244, 0.3); /* Used for selected states. The token represents the value of action.selectedOpacity (0.08 by default) of the main token. */
  --color-info-states-hover: rgba(3, 169, 244, 0.04); /* Used for hover states. The token represents the value of action.hoverOpacity (0.04 by default) of the main token. */
  --color-info-states-outlined-border: rgba(3, 169, 244, 0.54); /* Used for enabled states (e.g Button outlined variant). The token represents the value of outlinedBorderOpacity (0.5 by default) of the main token. */
  --color-info-states-selected: rgba(3, 169, 244, 0.08); /* Used for selected states. The token represents the value of action.selectedOpacity (0.08 by default) of the main token. */
  --color-info-contrast-text: #ffffff;
  --color-info-dark: #0277bd;
  --color-info-light: #e1f5fe;
  --color-info-main: #03a9f4;
  --color-primary-states-focus: rgba(131, 42, 128, 0.3); /* Used for focus states. The token represents the value of action.focusOpacity (0.12 by default) of the main token. */
  --color-primary-states-focus-visible: rgba(131, 42, 128, 0.38);
  --color-primary-states-hover: rgba(131, 42, 128, 0.08); /* Used for hover states. The token represents the value of action.hoverOpacity (0.04 by default) of the main token. */
  --color-primary-states-outlined-border: rgba(131, 42, 128, 0.3); /* Used for enabled states (e.g Button outlined variant). The token represents the value of outlinedBorderOpacity (0.5 by default) of the main token. */
  --color-primary-states-selected: rgba(131, 42, 128, 0.12); /* Used for selected states. The token represents the value of action.selectedOpacity (0.08 by default) of the main token. */
  --color-primary-contrast-text: #ffffff; /* Reflects the primary.contrast variable from the theme object. Color that keeps a contrast ratio above AA when XX.main is used as a bg. color */
  --color-primary-dark: #5d1e5a; /* Used for hover states. Reflects the primary.dark variable from the theme object */
  --color-primary-light: #f3ebf3; /* Reflects the primary.light variable from the theme object */
  --color-primary-main: #832a80; /* Reflects the primary.main variable from the theme object */
  --color-secondary-states-focus: rgba(0, 120, 162, 0.3); /* Used for focus states. The token represents the value of action.focusOpacity (0.12 by default) of the main token. */
  --color-secondary-states-focus-visible: rgba(0, 120, 162, 0.38);
  --color-secondary-states-hover: rgba(0, 120, 162, 0.08); /* Used for hover states. The token represents the value of action.hoverOpacity (0.04 by default) of the main token. */
  --color-secondary-states-outlined-border: rgba(0, 120, 162, 0.3); /* Used for enabled states (e.g Button outlined variant). The token represents the value of outlinedBorderOpacity (0.5 by default) of the main token. */
  --color-secondary-states-selected: rgba(0, 120, 162, 0.12); /* Used for selected states. The token represents the value of action.selectedOpacity (0.08 by default) of the main token. */
  --color-secondary-contrast-text: #ffffff;
  --color-secondary-dark: #00536f;
  --color-secondary-light: #e3f0f5;
  --color-secondary-main: #0078a2;
  --color-success-states-focus-visible: rgba(64, 157, 68, 0.3); /* Used for selected states. The token represents the value of action.selectedOpacity (0.08 by default) of the main token. */
  --color-success-states-hover: rgba(64, 157, 68, 0.04); /* Used for hover states. The token represents the value of action.hoverOpacity (0.04 by default) of the main token. */
  --color-success-states-outlined-border: rgba(64, 157, 68, 0.54); /* Used for enabled states (e.g Button outlined variant). The token represents the value of outlinedBorderOpacity (0.5 by default) of the main token. */
  --color-success-states-selected: rgba(64, 157, 68, 0.08); /* Used for selected states. The token represents the value of action.selectedOpacity (0.08 by default) of the main token. */
  --color-success-contrast-text: #ffffff;
  --color-success-dark: #2c6c2f;
  --color-success-light: #d9f5da;
  --color-success-main: #409d44;
  --color-text-states-focus: rgba(255, 255, 255, 0.12); /* Used for focus states. The token represents the value of action.focusOpacity (0.12 by default) of the main token. */
  --color-text-states-focus-visible: rgba(255, 255, 255, 0.26); /* Used for focus visible states. The token represents the value of focusVisibleOpacity (0.3 by default) of the main token. */
  --color-text-states-hover: rgba(255, 255, 255, 0.04); /* Used for hover states. The token represents the value of action.hoverOpacity (0.04 by default) of the main token. */
  --color-text-states-selected: rgba(255, 255, 255, 0.08); /* Used for selected states. The token represents the value of action.selectedOpacity (0.08 by default) of the main token. */
  --color-text-disabled: rgba(101, 108, 118, 0.6); /* Reflects the text.disabled variable from the theme object */
  --color-text-primary: #fafafa; /* Reflects the text.primary variable from the theme object */
  --color-text-secondary: #a5a5a5; /* Reflects the text.secondary variable from the theme object */
  --color-warning-states-focus-visible: rgba(162, 137, 46, 0.3);
  --color-warning-states-hover: rgba(162, 137, 46, 0.04); /* Used for hover states. The token represents the value of action.hoverOpacity (0.04 by default) of the main token. */
  --color-warning-states-outlined-border: rgba(162, 137, 46, 0.54); /* Used for enabled states (e.g Button outlined variant). The token represents the value of outlinedBorderOpacity (0.5 by default) of the main token. */
  --color-warning-states-selected: rgba(162, 137, 46, 0.08); /* Used for selected states. The token represents the value of action.selectedOpacity (0.08 by default) of the main token. */
  --color-warning-contrast-text: #ffffff;
  --color-warning-dark: #846f26;
  --color-warning-light: #fefaeb;
  --color-warning-main: #a2892e;
  --content-mode: Dark;
}
