:root {
  --content-body1-font-family: Montserrat;
  --content-body2-font-family: Montserrat;
  --content-caption-font-family: Montserrat;
  --content-font-family: Montserrat;
  --content-font-family-monospace: Inconsolata;
  --content-header-1-font-family: Montserrat;
  --content-header-2-font-family: Montserrat;
  --content-header-3-font-family: Montserrat;
  --content-header-4-font-family: Montserrat;
  --content-header-5-font-family: Montserrat;
  --content-header-6-font-family: Montserrat;
  --content-helper-font-family: Montserrat;
  --content-monospace-font-family: Inconsolata;
  --content-overline-font-family: Montserrat;
  --content-subtitle1-font-family: Montserrat;
  --content-subtitle2-font-family: Montserrat;
}
